examples/simple.json
[
    {
        "id": "9ef2d01ac475faf5",
        "type": "flexdash dev server",
        "z": "b80beb0c5eb6f5d7",
        "fd": "020b4b6c9679a53a",
        "sourceDir": "./flexdash-src",
        "enable": true,
        "install": true,
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bbb02d1b1cb34421",
        "type": "network-diagram",
        "z": "b80beb0c5eb6f5d7",
        "name": "",
        "fd": "020b4b6c9679a53a",
        "x": 530,
        "y": 240,
        "wires": [
            []
        ],
        "icon": "true"
    },
    {
        "id": "d346dc503830f104",
        "type": "inject",
        "z": "b80beb0c5eb6f5d7",
        "name": "set_network",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set_network",
        "payload": "{\"nodes\":[{\"id\":1,\"label\":\"Router\"},{\"id\":2,\"label\":\"Laptop\"},{\"id\":3,\"label\":\"NodeRED\"},{\"id\":4,\"label\":\"Cell\"}],\"edges\":[{\"id\":1001,\"from\":1,\"to\":3},{\"id\":1002,\"from\":1,\"to\":2},{\"id\":1003,\"from\":1,\"to\":4},{\"id\":1004,\"from\":2,\"to\":4}]}",
        "payloadType": "json",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "bbb02d1b1cb34421"
            ]
        ]
    },
    {
        "id": "77edd58c597cda71",
        "type": "inject",
        "z": "b80beb0c5eb6f5d7",
        "name": "add_nodes",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add_nodes",
        "payload": "[{\"id\":5,\"label\":\"Cray\"}]",
        "payloadType": "json",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "bbb02d1b1cb34421"
            ]
        ]
    },
    {
        "id": "020b4b6c9679a53a",
        "type": "flexdash config",
        "port": "80",
        "ioOpts": "{}",
        "path": "/flexdash",
        "redServer": true,
        "saveConfig": true,
        "allOrigins": true,
        "ctxName": "",
        "devServer": false,
        "devInstall": false,
        "name": "FlexDash"
    }
]
